{% extends "app/layout.html" %}

{% block content %}

    <h2>1. Вход</h2>

    <p><b>POST /api/auth/</b>

    <p>Запрос:
    <p>{ "UserName": "string", "Password": "string" }

    <p>Ответ:
    <p>{ "Id": number }

    <!-- -->

    <h2>2. Выход</h2>

    <p><b>POST (GET) /api/logout/</b>

    <p>Запрос:
    <p>Пустая строка

    <p>Ответ:
    <p>{ }

    <!-- -->

    <h2>3. Список товаров</h2>

    <p><b>GET /api/products/</b>

    <p>Запрос:
    <p>Без параметров

    <p>Ответ:
    <p>
    [
        {
            "Id": number,
            "Thumbnail”: "string",
            "Name": "string",
            "Price": number
        },
        ...
    ]

    <!-- -->

    <h2>4. Информация о товаре</h2>

    <p><b>GET /api/product/{id}/</b>

    <p>Запрос:
    <p>id - число, идентификатор товара

    <p>Ответ:
    <p>
    {
        "Id": number,
        "Image”: "string",
        "Name”: "string",
        "Description": "string",
        "Price": number,
        "Status": "string"
    }

    <!-- -->

    <h2>5. Список заказов</h2>

    <p><b>GET /api/orders/{amount}/</b>

    <p>Запрос:
    <p>amount - число, количество товаров

    <p>Ответ:
    <p>
    [
        {
            "Id": number,
            "Name": “string”,
            "Price": number,
            "Quantity": number,
            "Sum”: number,
            "Status": "string",
            "Date": "string",
        },
        ...
    ]

    <!-- -->

    <h2>6. Сделать заказ</h2>

    <p><b>GET /api/order/</b>

    <p>Запрос:
    <p>{ "id": number, "Quantity": number }

    <p>Ответ:
    <p>{ "id": number }

{% comment %}
<div class="jumbotron">
    <h1>Django</h1>
    <p class="lead">Django is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Django gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Python Tools for Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>
{% endcomment %}

{% endblock %}
